<% provide(:title, @title) %>
<div class="row">
  
    
      
 <h1><%= @user.name %></h1>

 <section class="stats">
        <%= render 'shared/stats2' %>
</section>
      

  <div class = "user_index_box">

  <% @users.each do |user| %>
   <div class = "user_index">
       <div class ="user_index_img index_inline">
         <img src="<%= "/user_images/#{user.image_name}" %>">
       </div>
       <div class ="user_index_plofile index_inline">
         <%= link_to(user.name, "/users/#{user.id}") %>
       </div>
       <div class ="user_index_post index_inline">
         投稿数<%= user.posts.count %> 
       </div>
    </div>
    <% end %>
    
    </div>
  
</div>
