 <div class = "posts_box">
   <h1> post 一覧　</h1>
   <div class ="post_index_box">
      <% @posts.each do |post| %>
        <div class="post_index">
          <div class ="post_index_plofile">
            <div class="post_index_img post_inline">
              <img src="<%= "/user_images/#{post.user.image_name}" %>">
            </div>
            <div class ="post_index_name post_inline">
              <%= link_to(post.user.name,"/users/#{post.user.id}") %>
            </div>
          </div>
            <div class ="post_index_content">
              <div class = "team_post_title">
                <%= link_to(post.title,"/posts/#{post.id}") %>
              </div>
              <div class = "team_post_content">
                <%= post.content %>
              </div>
              <div class = "team_post_date">
                <%= post.created_at.to_s(:datetime_jp) %>
              </div>
            </div>
        </div>
         <%end%>
   </div>
 </div>
