

<div class = "post_show">

    <div class = "post_show_plofile">
      <div class = "post_show_img post_inline">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
      </div>
      <div class = "post_show_plofile_right post_inline">
        <div class ="post_show_plofile_top">
          <div class = "post_show_name post_inline">
            <%= @user.name %>
          </div>
          <div class = "post_show_post post_inline">
           投稿数<%= @user.posts.count %>
          </div>
         </div>
      <div class = "post_show_show">
             following<%= @user.following.count %>
             followers<%= @user.followers.count %>
       </div>
    </div>
    </div>
   <ul>
      
      <li class ="post_show_title"><%= @post.title %></li>
      <li class ="post_show_content"><%= @post.content %></li>
    </ul>

    <ul class = "post_show_low">
    <div>
      <% if @current_user == @user %>
      <li class = "post_show_edit"><%= link_to("edit","/posts/#{@post.id}/edit") %>
      <%= link_to("deleate","/posts/#{@post.id}/destroy",{method:"post"}) %><li>
     <% end %>
      
    <div class = "post-time">
      <li><%= @post.created_at.to_s(:datetime_jp) %></li>
      <li><%= time_ago_in_words(@post.created_at) %>ago</li>
    </div>   

      <li class ="post_show_like">
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
             <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
               <span class="fa fad fa-thumbs-up"></span>
             <% end %>
            <% else %>
           <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
           <span class="fa fas fa-thumbs-up"></span>
         <% end %>
       <% end %>

      <%= @likes_count %>
      </li>
      </div>
  </ul>
  </div>